<div class="login-container">
  <h2>Вход</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="username">Имя пользователя</label>
    <input [(ngModel)]="loginData.userName" name="userName" type="text" id="username" required>

    <label for="password">Пароль</label>
    <input [(ngModel)]="loginData.password" name="password" type="password" id="password" required>

    <button type="submit">Войти</button>

    <div class="register-link">
      <a routerLink="/auth/register">Нет аккаунта? Зарегистрироваться</a>
    </div>
  </form>
</div>


