<div class="main-container">

  <div class="logout-wrapper text-end p-3">
    <button (click)="logout()" class="btn btn-outline-danger">Выйти</button>
  </div>

  <h2>Мои задачи</h2>
  <button (click)="goToCreateTask()">Создать задачу</button>

  <div class="tasks-grid">
    <div *ngFor="let task of tasks" class="task-card" (click)="goToTask(task.id)">
      <h3>{{ task.name }}</h3>
      <p><strong>Описание:</strong> {{ task.description || 'нет описания' }}</p>
      <p><strong>Дата начала:</strong> {{ task.startDate | date:'dd.MM.yyyy' }}</p>
      <p><strong>Дата завершения:</strong> {{ task.expDate | date:'dd.MM.yyyy' }}</p>
      <p><strong>Приоритет:</strong> {{ getPriorityLabel(task.priority) }}</p>
      <p><strong>Статус:</strong> {{ getStatusLabel(task.statusId) }}</p>
    </div>
  </div>
</div>
